# Preparations
- Install *MySQL Workbench*: https://dev.mysql.com/downloads/workbench/
- Connect our database by using *MySQL Workbench*: https://dev.mysql.com/doc/workbench/en/wb-mysql-connections-new.html\
In setup new connection form, enter connection name you like and then enter hostname and username.\
**Hostname: 192.168.0.243**\
**Username: dbuser**\
And after clicking 'Test connection', you need to enter the passcode=**Sql123456**.\
If testing connection succeeds, you can click 'OK' to create the new connection. If it fails, please change the hostname to **172.16.3.200** and test again.
  

- Create a new anaconda environment with python=3.7\
—— **conda create -name <env_name> python=3.7** ——
- Then activiate the new envionment\
—— **conda activate <env_name>** ——\
and install MySQL connector module\
—— **pip install mysql-connector-python** ——\
(This package is only supported by python=3.7 or lower version, which is the reason why we need to create a new anaconda environment with python=3.7)

Note: run the following code in your new-created environment.

## Connect to MySQL Database in Python

In [7]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
pd.set_option('display.max_colwidth', None)

try:
    connection = mysql.connector.connect(host='192.168.0.243',
                                         database='new_york_cartoon',
                                         user='dbuser',
                                         password='Sql123456')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You succeed to connect to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

# If error appears or this chuck runs for over 30s without response, please change the host='192.168.0.243' to host='172.16.3.200' and run again.

Connected to MySQL Server version  8.0.33
You succeed to connect to database:  ('new_york_cartoon',)

### Sql select query

In [8]:
sql_select_Query = "select max(contest_num) from base"  # you can change query in this line for selecting your target data
cursor = connection.cursor()
cursor.execute(sql_select_Query)

# get all records
records = cursor.fetchall()
print("Total number of rows in table: ", cursor.rowcount)
df = pd.DataFrame(records)
df.tail()

Total number of rows in table:  1

     0
0  853

## Close the connection

In [9]:
if connection.is_connected():
    cursor.close()
    connection.close()
    print("MySQL connection is closed.")
else:
    print("MySQL connection has been closed.")

MySQL connection is closed.